@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker');
*{
	margin:0;
	padding: 0;
}
.logo{
	width: 50%;
}
.tamara{
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 90px;
	margin-top: 2%;
	margin-right:40%;
}
@media screen and (max-width: 800px){
	.tamara{
		width: 100%;
		height: auto;
		margin: auto;
	}
	.logo{
		width: 100%;
		height: auto;
		margin:auto;
	}