@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker');
*{
	margin:0;
	padding: 0;
}
.cont-w{
	width: 60%;
	border-radius: 8px 8px;
	margin-top: 5px;
	margin-bottom: 50px;
	height: auto;
	margin-right: 20%;

}
.what{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 50px;
	width:40%;
	height: auto;
}
.sonido1{
	width: 1322px;
	height: 400px;
}
.sonido{
	width: 350px;
	height: 300px;
}
.contenedor{
	background-color:rgba(0,0,0,0.5);
	border-radius: 20px 20px;
width: 100%;
max-width: 1500px;
margin:0 auto;
overflow: hidden;
}
.contenedor1{
	display: flex;
	justify-content: space-between;
	margin:5px;
	width: auto;
	height: auto;
   
}
.contenedor2{
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: auto;
	height: auto;
  
}
.contenedor3{
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: auto;
	height: auto;
  
}
.imagen:hover .sonido1{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.64), 0 17px 50px 0 rgba(0,0,0,0.79),
	 0 12px 16px 0 rgba(0,0,0,0.64), 0 17px 50px 0 rgba(0,0,0,0.79);;
	-webkit-transform:scale(1.1);
	transform: scale(1.1);
	-webkit-transform:all 300s;
	transform: all 300s;
}
.imagen:hover .sonido{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.64), 0 17px 50px 0 rgba(0,0,0,0.79);
	-webkit-transform:scale(1.2);
	transform: scale(1.2);
	-webkit-transform:all 300s;
	transform: all 300s;
}
@media screen and (max-width: 800px){
	.sonido1{
		display: inline-block;
		width: 108%;
		height: auto;
	}
	.sonido{
		display: inline-block;
		width: 107%;
		height: auto;
	}
	.container1{
		display: inline-block;
		width: 76;
		margin-left: 50px;
	}
	.contenedor1{
		display: inline-block;
		width: 76%;
		margin-left: 50px;

	}
	.contenedor2{
		display: inline-block;
		width: 76%;
		margin-left: 50px;
	}
	.contenedor3{
		display: inline-block;
		width: 76%;
		margin-left: 50px;
	}

.tamara{
		width: 100%;
		height: auto;
	}
	.logo{
		width: 100%;
		height: auto;
	}
	.cont-w {
		width: 100%;
		height: auto;
		margin:auto;
	}
	.what{
		width: 100%;
		height: auto;
		margin: auto;
	}
}